---
import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import Stats from "../components/Stats.astro";
import EventCard from "../components/EventCard.astro";
import ContentDisplay from "../components/ContentDisplay.astro";

import Plus from "lucide-astro/Plus";
import { upcomingEvents, pastEvents } from "../content/event.ts";
import StarContent from "../components/StarContent.astro";
---

<PageLayout
  title="Eventos - GPUL"
  description="Descubre os próximos eventos, charlas, cursos e actividades organizadas polo Grupo de Programadores e Usuarios de Linux (GPUL)."
>
  <PageTitle
    title="Eventos GPUL"
    subtitle="Participa nas nosas actividades, aprende novas tecnoloxías e conecta coa comunidade"
  />

  <Stats />

  <!-- Eventos próximos -->
  <ContentDisplay contents={upcomingEvents} card={EventCard}>
    <Fragment slot="title">
      <h2
        class="text-3xl font-bold text-gray-900 dark:text-white dark:mt-8 mb-4"
      >
        Próximos Eventos
      </h2>
      <p class="text-xl text-gray-600 dark:text-neutral-400">
        Non te perdas as nosas próximas actividades
      </p>
    </Fragment>

    <Fragment slot="cta">
      <div class="text-center mt-12">
        <a
          href="/contact"
          class="inline-flex items-center px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition-colors"
        >
          Propón un evento
          <Plus class="ml-2 w-5 h-5" />
        </a>
      </div>
    </Fragment>
  </ContentDisplay>

  <StarContent />

  <!-- Eventos pasados -->
  <ContentDisplay contents={pastEvents} card={EventCard}>
    <Fragment slot="title">
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
        Eventos Anteriores
      </h2>
      <!-- TODO: can't we doomscroll this as well -->
      <!-- <a href="/blog" class="text-blue-600 hover:text-blue-700 font-medium"> -->
      <!-- Ver todas as crónicas → -->
      <!-- </a> -->
    </Fragment>
  </ContentDisplay>
</PageLayout>
