---
import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import { novas, novaTags } from "../content/nova.ts";
import ContentDisplay from "../components/ContentDisplay.astro";
import NovaCard from "../components/NovaCard.astro";
import Filter from "../components/Filter.astro";
---

<PageLayout
  title="Noticias - GPUL"
  description="Mantente ao día coas últimas noticias e actualidades do Grupo de Programadores e Usuarios de Linux (GPUL)."
>
  <PageTitle
    title="Noticias GPUL"
    subtitle="Mantente informado das últimas novidades, eventos e iniciativas do noso grupo"
  />

  <!-- Filtros -->
  <Filter tags={novaTags} />

  <!-- Lista de noticias -->
  <ContentDisplay contents={novas} card={NovaCard}>
    <Fragment slot="title"> </Fragment>
  </ContentDisplay>

  <!-- TODO: should we really paginate this? the data is already loaded, can't it be doomscroll? -->
  <!-- <div class="mt-12 flex justify-center"> -->
  <!-- <div class="flex space-x-2"> -->
  <!-- <button class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> -->
  <!-- Anterior -->
  <!-- </button> -->
  <!-- <button class="px-3 py-2 text-sm font-medium text-white bg-blue-600 border border-blue-600 rounded-md"> -->
  <!-- 1 -->
  <!-- </button> -->
  <!-- <button class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> -->
  <!-- 2 -->
  <!-- </button> -->
  <!-- <button class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> -->
  <!-- 3 -->
  <!-- </button> -->
  <!-- <button class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"> -->
  <!-- Seguinte -->
  <!-- </button> -->
  <!-- </div> -->
  <!-- </div> -->
</PageLayout>
