---
const { class: className } = Astro.props;
---

<!-- Mapa -->
<div class={`sm:min-w-2xl ${className}`}>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">
    Onde estamos
  </h3>
  <iframe
    width="100%"
    height="500px"
    class="rounded-lg"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-8.412598371505739%2C43.331932463082026%2C-8.40905785560608%2C43.333766387744994&layer=mapnik&marker=43.332849432336026%2C-8.410828113555908"
  ></iframe>
</div>
